# Object files
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Executables
fwd
train
main

# results data
step_*.dat
fwd_step_*.dat
*.log
*.dat
*.nvvp
error.txt
prof.txt
input.dat
mnist_dat
./net_save
./fwd_res
./src/build

__pycache__
