# Object files
*.o
*.obj

# Precompiled Headers
*.gch
*.pch
src/dist
src/CIANNA.egg-info

# Executables
fwd
train
main

# Latex
.tex
.aux
.log

# results / data / minotoring
step_*.dat
fwd_step_*.dat
*.log
*.dat
*.nvvp
*.tar.gz
*.zip
error.txt
prof.txt
arch
./arch
./net_save
./fwd_res
./src/build

__pycache__
